/*清除默认样式*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(247, 247, 247);
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  list-style: none;
}

/*导航条*/
.navbar {
  height: 60px;

  margin-bottom: 10px;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 5px rgb(237, 237, 237);
}

.nav-container {
  display: flex;
  
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.logo-container {
  align-self: center;

  padding: 15px;
  padding-left: 0;
}

.nav-items {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.nav-items > li {
  margin: 15px;
}

.active,
.nav-item:hover {
  color: #3273dc;
}

/*边栏及内容区*/
.container {
  display: flex;
  justify-content: space-between;

  width: 60%;
  margin: 20px auto;
}

/*边栏*/
.sidebar {
  width: 32%;
}

.photo-wrapper {
  text-align: center;
}

.photo {
  vertical-align: top;
}

.side-card {
  margin: 20px 0;
  border: 1px solid rgb(223,223,223);

  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgb(218,219,219);
  border-radius: 5px;
}

.card-title {
  padding: 5px;
  border-bottom: 1px solid rgb(223,223,223);

  background-color: rgb(247,247,247);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-item {
  margin: 5px 10px;
}

.card-item > span {
  padding-left: 0.5em;
}

/*内容区*/
.main {
  width: 62%;
  border: 1px solid rgb(223,223,223);

  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgb(218,219,219);
  border-radius: 5px;
}

.job {
  padding: 5px;

  background-color: rgb(247,247,247);
}

.main > h3 {
  padding: 5px;
  border-top: 1px solid rgb(223,223,223);
  border-bottom: 1px solid rgb(223,223,223);

  background-color: rgb(247,247,247);
}

.main-contents {
  padding: 5px 10px;
}

.tech-title,
.project-num {
  font-weight: bold;
}

.tech-contents,
.project-content {
  padding: 10px 0 10px 30px;
  list-style-type: disc;
}

.describe,
.duty {
  margin: 2px 5px;
  font-weight: bold;
}

.describe-content {
  margin: 5px;
}